@charset "UTF-8";

bc2
.sidebar {
	height: 100%;
	position: fixed;
	bottom: 0;
	background-color: #A490D5; /* Purple background color */
}

.end {
	margin-top: 260px;
}

/* Add additional styles as needed */
.nav-link {
	color: #fff; /* White text color for links */
}

.nav-link:hover {
	background-color: #816bc7; /* Darker purple on hover */
	color: #fff;
}

.sidebar-heading {
	color: #A490D5; /* Purple text color for headings */
}

.sidebar hr {
	border-color: #816bc7; /* Border color for horizontal rule */
}

.nav-item.active {
	background-color: #816bc7; /* Darker purple for active item */
}

.nav-item.mt-auto a {
	color: #D3D3D3; /* Light gray text color for logout link */
}

.nav-item.mt-auto a:hover {
	color: #fff; /* White text color on hover for logout link */
}