body {
	font-family: 'Arial', sans-serif;
}

.container-fluid {
	padding-top: 15px;
	padding-bottom: 15px;
}

.table-responsive.small table {
	margin-bottom: 0;
}

.table thead th {
	background-color: #A490D5;
	color: #fff;
	border: 1px solid #A490D5;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.pagination a {
	color: black;
	float: left;
	padding: 4px 8px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 5px;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

.pagination .active a {
	background-color: #A490D5;
	border-color: #A490D5;
	color: #fff;
}

.sh {
	text-align: right;
	margin-top: 20px;
}

.btn-outline-secondary {
	color: #A490D5;
	border-color: #A490D5;
}

.btn-outline-secondary:hover {
	background-color: #A490D5;
	color: #fff;
}

/* 링크 스타일 */
a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #8246af;
}