:root{
	--text-color: #444;
	--background-color: #F8F9FA;
	--accent-color: #A490D5;
}

.animation .num_container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	padding-right: 100px;
}

.animation .num_container .num_item {
	text-align: center;
	padding-left: 100px;
}

.animation .num_container .num_item .title {
	font-size: 24px;
	color: var(--text-color);
	margin-bottom: 12px;
}

.animation .num_container .num_item .unit {
	font-size: 18px;
	color: var(--text-color);
}

@media screen and (max-width: 768px){
	.animation .num_container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 10px;
		padding-right: 30px;
	}
	.animation .num_container .num_item {
		text-align: center;
		padding-left: 30px;
	}
	
	.animation .num_container .num_item .title {
		font-size: 18px;
		color: var(--text-color);
		margin-bottom: 12px;
}
	
}