@charset "UTF-8";

.animation .num_container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	padding-right: 100px;
}

.animation .num_container .num_item {
	text-align: center;
	padding-left: 100px;
}

.animation .num_container .num_item .title {
	font-size: 24px;
	color: #ccc;
	margin-bottom: 12px;
}

.animation .num_container .num_item .unit {
	font-size: 18px;
	color: #ccc;
}

@media screen and (max-width: 768px){
	.animation .num_container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 10px;
		padding-right: 30px;
	}
	.animation .num_container .num_item {
		text-align: center;
		padding-left: 30px;
	}
	
	.animation .num_container .num_item .title {
		font-size: 18px;
		color: #ccc;
		margin-bottom: 12px;
}
	
}