@charset "UTF-8";

.intro{
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro .container {
	margin-top: 50px;
	margin-bottom: 10px;
	display: grid;
	align-items: stretch;
	place-items: center;
}

.banner {
	width: 200px;
	position: relative;
}

.banner img {
	width: 200px;
	vertical-align: middle;
}

.ban_text {
	position: absolute;
	top: 50%;
	left: 52%;
	width: 200px;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #444;
}