:root{
	--text-color: #444;
	--background-color: #F8F9FA;
	--accent-color: #A490D5;
}

.intro {
    display: flex;
    justify-content: space-around; /* 또는 다른 적절한 값을 선택하세요. */
    align-items: center; /* 원하는 정렬 방식에 따라 수정하세요. */
}

.intro .container {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 10px; /* 수정할 마진 값 */
}


.banner {
	position: relative;
	margin-bottom: 30px;
}
	
.banner .bann_icon{
	font-size: 36px;
	color: var(--text-color);
}
	
.banner .bann_text{
	position: absolute;
	top: 125%;
	left: 52%;
	width: 200px;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: var(--text-color);
}

@media screen and (max-width: 768px){
	.banner {
		position: relative;
		margin-bottom: 30px;
	}
	
	.banner .bann_icon{
		font-size: 36px;
		color: var(--text-color);
	}
	
	.banner .bann_text{
		position: absolute;
		top: 125%;
		left: 52%;
		width: 200px;
		transform: translate(-50%, -50%);
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		color: var(--text-color);
	}
		
	.intro{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.intro .container {
		margin-top: 30px;
		margin-bottom: 5px;
	}
}