:root{
	--text-color: #444;
	--background-color: #F8F9FA;
	--accent-color: #A490D5;
}

body{
	margin: 0;
	background-color: var(--background-color);
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
  	top: 0;
   	left: 0;
	right: 0;
	width: 100%;
	background-color: var(--background-color);
	padding: 10px 10px;
}

.navbar .navbar_logo img{
	padding-left: 50px;
	width: 60px;
}

.navbar .navbar_menu li{
	display: inline;
	list-style: none;
	margin: 0;
	padding: 10px 30px;
}

.navbar .navbar_menu a{
	text-decoration: none;
	font-weight: bold;
	color: var(--text-color);
}

.navbar .navbar_icons li{
	display: inline;
	list-style: none;
	margin: 0;
	padding: 10px 30px;
}

.navbar .navbar_icons a{
	text-decoration: none;
	color: var(--text-color);
}

.navbar .navbar_toggle_btn i{
	display: none;
	position: absolute;
	top: 24px;
	right: 32px;
	font-size: 24px;
	color: var(--text-color);
}

@media screen and (max-width: 768px){
	.navbar{
		display: flex;
		margin: 0px 0px 10px 0px;
		padding: 10px 0px 10px 0px;
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
	}
	
	.navbar .navbar_menu{
		display: none;
		margin: 0;
		padding: 0;
		width: 100%;
		justify-content: center;
		background-color: #e7e7e7;
	}	
	
	.navbar .navbar_menu li{
		display: flex;
		margin: 0;
		padding: 0;
		width: 100%;
		flex-direction: column;
		color: var(--text-color);
		text-align: center;
	}
	
	.navbar .navbar_menu li:hover {
  		background-color: var(--accent-color);
		margin: 0;
  	  	padding: 0;
	}
	
	.navbar .navbar_menu a{
		align-items: center;
		margin: 10px 0px 10px 0px;
		padding: 0;
	}
	
	.navbar .navbar_icons{
		display: none;
		margin: 0px 0px 10px 0px;
		padding: 10px 10px 10px 10px;
		width: 100%;
		background-color: #e7e7e7;
		text-align: center;
	}
	
	.navbar .navbar_icons li{
		display: inline;
		margin: 10px 10px 10px 10px;
		padding: 0;
	}
	
	.navbar .navbar_toggle_btn i{
		display: block;
	}
	
	.navbar .navbar_menu.active{
		display: flex;
	}
	
	.navbar .navbar_icons.active{
		display: flex;
	}
}