/* 전체 페이지 스타일 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

.container {
    margin-top: 30px;
    background-color: #f8f9fa;
}

/* 헤더 스타일 */
header.main {
    background-color: #A490D5;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

/* 섹션 스타일 */
section {
	background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 이미지 스타일 */
img.imga {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* 좋아요 아이콘 스타일 */
.likeImage {
    cursor: pointer;
}

.likeImage:hover {
    filter: brightness(85%);
}

/* 모달 스타일 */
.modal-header {
    background-color: #A490D5;
    color: white;
}

.btn {
    width: 80px;
    height: 44px;
    display: inline-block;
    font-weight: bold;
    background-color: #A490D5;
    text-align: center;
    user-select: none;
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;
    line-height: 1.5;
    border-radius: 10px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    background-color: #A490D5;
    color: #fff;
    border-color: #A490D5;
}

.btn:not(:hover) {
    background-color: transparent;
    border: 1px solid #A490D5;
    color: #A490D5;
}
